<%
/*
  アコーディオン要素の設置用コンポーネント

  @param
  class: 独自クラス（無ければ無視）
  title: ボタンタイトル
  description: アコーディオン内容
*/

var attr = (typeof attr === 'undefined') ? '' : attr;
%>

<div class="c-accordion<% if (attr.class) { %> <%- attr.class %><% } %>">
  <div class="c-accordion--btn js-accordion-btn" role="button">
    <p><%- attr.title %></p>
    <%- include('./_icon', {attr: {id: 'chevron-down', type: 'regular'}}) %>
  </div>
  <div class="c-accordion--panel js-accordion-panel">
    <div class="c-accordion--item">
      <%- attr.description %>
    </div>
  </div>
</div>
