@charset 'utf-8';
@use 'sass:math';
@use '../fundation/variable' as *;
@use '../fundation/mixin' as *;
@use '../fundation/function' as *;

// display
.u-d-block {
  display: block;
}

.u-d-iblock {
  display: inline-block;
}

.u-d-inline {
  display: inline;
}

.u-d-flex {
  display: flex;
  @include media(sm) {
    display: block;
  }
}

.u-d-flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
