@charset 'utf-8';
@use 'sass:math';
@use '../fundation/variable' as *;
@use '../fundation/mixin' as *;
@use '../fundation/function' as *;

// フォント
.u-text {
  &-jp {
    font-family: $ff-jp;
  }

  &-en {
    font-family: $ff-en;
  }
}

.u-color {
  &-alert {
    color: color(alert);
  }

  &-text {
    color: color(text);
  }
  &-selection {
    color: color(selection);
  }
}

.u-fw {
  &-bold {
    font-weight: bold;
  }

  &-semibold {
    font-weight: 500;
  }

  &-regular {
    font-weight: 400;
  }

  &-light {
    font-weight: 100;
  }
}

// テキストリンク
.u-text-link {
  text-decoration: underline;
  color: color(primary);

  @include ahover {
    text-decoration: none;
  }
}

// 文頭を一文字文ずらす。（例：「※注意」）
.u-text-indent {
  padding-left: 1em;
  text-indent: -1em;
}

// text-align
.u-ta {
  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-center {
    text-align: center;
  }
}

// margin-auto
.u-m-a {
  margin: auto;
}

.u-v-lr {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  @include media(sm) {
    writing-mode:inherit;
    transform: none;
  }
}

.u-p-ct {
  height: 50%;
  display: flex;
  align-items: end;
}

.u-p-c {
  display: flex;
  align-items: center;
}

.u-p-end {
  height: 100%;
  display: flex;
  align-items: end;
}


.u-p-cb {
  height: 100%;
  display: flex;
  align-items: center;
  > div {
    transform: translateY(50%);
    @include media(sm) {
      transform: none;
    }
  }
}
