<%
var define = (typeof define === 'undefined') ? '' : define;
%>

<nav class="l-nav__lg">
  <ul>
    <li><a href="<%= siteurl %>">トップページ</a></li>
    <li><a href="<%= siteurl %>sample/">サンプル</a></li>
    <li><a href="<%= siteurl %>form/">フォーム</a></li>
  </ul>
</nav>
