<%
var define = (typeof define === 'undefined') ? '' : define;
%>

<div class="l-nav__mega">
  <nav>
    <ul>
      <li><a href="<%= siteurl %>">トップページ</a></li>
      <li><a href="<%= siteurl %>sample/">サンプル</a></li>
      <li><a href="<%= siteurl %>form/">フォーム</a></li>
    </ul>
  </nav>
</div>
