<%
var define = (typeof define === 'undefined') ? '' : define;
%>

<div class="l-nav__mega">
  <nav>
    <ul class="u-text-en">
      <li class="anchor"><a href="#panel01" class="u-color-selection">top</a></li>
      <li class="anchor"><a href="#panel02" class="u-color-selection">section01</a></li>
      <li class="anchor"><a href="#panel03" class="u-color-selection">section02</a></li>
      <li class="anchor"><a href="#panel04" class="u-color-selection">section01</a></li>
      <li class="anchor"><a href="#panel05" class="u-color-selection">section02</a></li>
    </ul>
  </nav>
</div>
