@charset 'utf-8';
@use 'sass:math';
@use '../fundation/variable' as *;
@use '../fundation/mixin' as *;
@use '../fundation/function' as *;

.top {

  // MV
  &-mv {
    position: relative;
    width: 100%;
    height: 100vh;
    &__title {
      position: absolute;
      top: 20vh;
      left: 10vw;
      @include media(sm) {
        top: 25vh;
      }
      p {
        @include fz(40, true, false, 400, 200, false);
        text-transform: uppercase;
        @include media(sm) {
          @include fz(30, true, false, 400, 180, false);
        }
      }
    }
    &__bg {
      figure {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        img {
          object-fit: cover;
          @include media(sm) {
            height: 100%;
            object-position: 40%;
          }
        }
      }
      .mv-bglayer {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: color(bg);
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -300px;
      width: 300px;
      height: 100vh;
      background: color(bg);
    }
  }

  // パネル２枚目
  &-conceptart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__content {
      align-items: end;
      figure {
        aspect-ratio: 16 / 9;
        max-width: 60%;
      }
      .txt {
        width: 40%;
        max-width: 320px;
        margin-left: 4rem;
      }
    }
  }

  // パネル3枚目 , 4枚目　
  &-conceptart {
    &__detail {
      &__content {
        // > div {
        //   width: 50%;
        // }
        .col2 {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 20px;
          figure {
            aspect-ratio: 3 / 4;
            height: calc(50% - 20px);
            img {
              object-fit: cover;
            }
            // &:first-of-type {
            //   margin-bottom: 20px;
            // }
          }
        }
        .col3 {
          figure {
            aspect-ratio: 16 / 9;
            img {
              object-fit: cover;
            }
          }
          &.ex {
            figure {
              height: calc((100% - 40px) / 3);
              &:nth-of-type(2){
                margin-left: 10vw;
              }
              &:nth-of-type(3){
                margin-left: 20vw;
              }
              &:not(:last-of-type) {
                margin-bottom: 20px;
              }
            }
          }
        }
        .nomal {
          > div {
            display: flex;
            height: calc((100% - 40px) / 3);
            &:not(:last-of-type) {
              margin-bottom: 20px;
            }
          }
        }
        .txt {
          margin-left: 4rem;
          width: 40%;
          max-width:  320px;
        }
      }
    }
  }

  // パネル5枚目
  &-conceptartworks {
    &__content {
      justify-content: space-between;
      .img {
        display: grid;
        width: 50%;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 24px;
        figure {
          // aspect-ratio: 16 / 9;
          height: 100%;
          img {
            height: 100%;
            object-fit: cover;
          }
          &:nth-of-type(1) {
            grid-column: 1/3;
            grid-row: 1/2;
          }
          &:nth-of-type(2) {
            grid-column: 1/2;
            grid-row: 2/3;
          }
          &:nth-of-type(3) {
            grid-column: 2/3;
            grid-row: 2/3;
          }
        }
      }
      .txt {
        padding-left: 4rem;
        max-width:  320px;
      }
    }
  }

    // パネル7枚目
    &-works {
      &__content {
        justify-content: space-between;
        > div {
          width: calc(50% - 20px);
        }
        @media (max-height: 830px) and (orientation: landscape){
          justify-content: left;
          > div {
            width: 35%;
            &:first-of-type {
              margin-right: 40px;
            }
          }
        }
        .img {
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: auto auto;
          gap: 10px;
          max-width: 750px;
          &.border {
            figure {
              img {
                border: 1px solid color(border);
              }
            }
          }
          figure {
            // aspect-ratio: 16 / 9;
            height: 100%;
            img {
              height: 100%;
            }
            &:nth-of-type(1) {
              grid-column: 1/3;
              grid-row: 1/2;
            }
            &:nth-of-type(2) {
              grid-column: 1/2;
              grid-row: 2/3;
            }
            &:nth-of-type(3) {
              grid-column: 2/3;
              grid-row: 2/3;
            }
          }
        }
        .txt {
          @include fz(14, true, 20 , 400, 150);
          a {
            text-decoration: underline;
            @include hoverOpacity(0.8);
          }
        }
      }
    }

  // パネル9枚目 デッサン、静物着彩
  &-skeches {
    &__content {
      .img {
        > div {
          &:first-of-type {
            margin-right: 20px;
          }
        }
        figure {
          aspect-ratio: 16 / 9;
          height: calc((100% - 40px) / 3);
          img {
            object-fit: cover;
          }
          &:not(:last-of-type) {
            margin-bottom: 20px;
          }
          &:nth-of-type(1),
          &:nth-of-type(3) {
            position: relative;
            left: 4vw;
          }
        }
      }
      .txt {
        margin-left: calc(4vw + 40px);
        max-width:  320px;
        display: flex;
        align-items: center;
      }
      // 静物着彩
      &.type02 {
        .img {
          figure {
            &:nth-of-type(1),
            &:nth-of-type(3) {
              position: relative;
              left: -4vw;
            }
          }
        }
        .txt {
          margin-left: 0;
          margin-right: calc(4vw + 40px);
        }
      }
    }
  }

  // パネル10枚目 エトセトラ
  &-etc {
    &__content {
      .img {
        width: 70%;
        @include media(sm) {
          width: 100%;
          display: flex;
        }
        figure {
          height: 100vh;
          position: relative;
          top: -10vh;
          @include media(sm) {
            height: inherit;
            top: 0;
          }
          &:not(:last-of-type) {
            margin-right: 20px;
            @include media(sm) {
              margin-right: 0;
            }
          }
        }
      }
      .txt {
        margin-right: 40px;
        max-width:  320px;
        width: 30%;
      }
    }
  }

  // パネル11枚目　プロフィール　
  &-profile {
    &__content {
      width: 100%;
      .head {
        max-width:  320px;
        dl {
          .job {
            margin-top: 4px;
            @include fz(12, true, false, 400, 200, false);
          }
        }
      }
      .body {
        display: flex;
        align-items: end;
        margin-left: 8vw;
        max-width: 320px;
        h4 {
          font-family: $ff-jp-2;
          @include fz(18, true, false, 400, 200, false);
          margin-bottom: 8px;
        }
        p {
          @include fz(13, true, false , 400, 150);
        }
      }
      .foot {
        display: flex;
        align-items: center;
        margin: 0 0 0 auto;
        @include media(sm) {
          justify-content: center;
        }
        .sns {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 50vh;
          list-style-type: none;
          @include media(sm) {
            flex-direction: inherit;
            height: inherit;
            width: 50vw;
          }
          img {
            display: block;
            width: 20px;
            height: 20px;
          }
          a {
            @include hoverOpacity(0.6);
          }
        }
      }
    }
  }


  @include media(sm) {
  }
}
