@font-face {
  font-family: 'site-icon';
  src: url('../../dist/assets/icons/site-icon.woff?rev') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'], [class*=' icon-'] {
  font-family: 'site-icon' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  line-height: 1;
}


.icon-arrow:before {
  content: '\f001'
}
