<%
var define = (typeof define === 'undefined') ? '' : define;
%>

    </div>
    <!--#include virtual="/ssi/footer.html" -->
  </div>
</div>

<script src="<%= siteurl %>assets/js/bundle.js?rev" defer="defer"></script>
<%- include('../analytics/_footer') %>
</body>
</html>