<%
var define = (typeof define === 'undefined') ? '' : define;
%>

<header class="l-header">
  <div class="l-header__inner u-h-max">
    <h1 class="u-v-lr">
      <a href="<%= siteurl %>">portfolio</a>
    </h1>
    <div class="c-hamburger js-hmb" role="button">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="u-v-lr">
      nishikawa takeshi
    </div>
  </div>
</header>
<div class="l-backlayer js-layer"></div>
<%- include('../navigation/_mega') %>
