<%
var define = (typeof define === 'undefined') ? '' : define;
%>

<header class="l-header">
  <div class="l-header__inner u-h-max">
    <h1 class="txt u-text-en" id="js-mvfade01">
      <a href="<%= siteurl %>" class="u-v-lr">portfolio</a>
    </h1>
    <div class="c-hamburger js-hmb" role="button" id="js-mvfade02">
      <span></span>
      <span></span>
    </div>
    <div class="txt u-text-en l-lg" id="js-mvfade03">
      <span class="u-v-lr">nishikawa takeshi</span>
    </div>
  </div>
</header>
<div class="progress" id="js-progress">
  <div class="progress__bar"></div>
</div>
<div class="l-backlayer js-layer"></div>
<div class="l-nav__mega">
  <nav>
    <ul class="u-text-en">
      <li class="anchor"><a href="#panel01" class="u-color-selection">top</a></li>
      <li class="anchor"><a href="#panel02" class="u-color-selection">section01_conceptart</a></li>
      <li class="anchor"><a href="#panel05" class="u-color-selection">section02_conceptworks</a></li>
      <li class="anchor"><a href="#panel07" class="u-color-selection">section03_illustration</a></li>
      <li class="anchor"><a href="#panel08" class="u-color-selection">section04_skeches</a></li>
      <li class="anchor"><a href="#panel10" class="u-color-selection">section05_freeworks</a></li>
      <li class="anchor"><a href="#panel11" class="u-color-selection">section06_profile</a></li>
    </ul>
  </nav>
</div>
