<%
var define = (typeof define === 'undefined') ? '' : define;
%>

<header class="l-header">
  <div class="l-header__inner u-h-max">
    <h1 class="txt u-text-en" id="js-mvfade01">
      <a href="<%= siteurl %>" class="u-v-lr">portfolio</a>
    </h1>
    <div class="c-hamburger js-hmb" role="button" id="js-mvfade02">
      <span></span>
      <span></span>
    </div>
    <div class="txt u-text-en" id="js-mvfade03">
      <span class="u-v-lr">nishikawa takeshi</span>
    </div>
  </div>
</header>
<div class="progress" id="js-progress">
  <div class="progress__bar"></div>
</div>
<div class="l-backlayer js-layer"></div>
<%- include('../navigation/_mega') %>
