<%
var define = (typeof define === 'undefined') ? '' : define;
%>

<section class="l-main-panel panel" id="panel05">
  <div class="l-main-panel__contents u-d-flex">
    <div class="c-title__section u-h-max u-d-flex u-v-lr u-text-en u-pl-5">
      <b class="secNm u-d-flex">section02</b>
      <b>conceptworks</b>
    </div>
    <div class="c-contents__body top-conceptartworks">
      <div class="top-conceptartworks__content u-d-flex u-h-max">
        <div class="img">
          <figure class="js-fadeup">
            <img src="/assets/images/top/conceptworks/img-01.webp" class="image u-h-max" data-src="7時間" alt="">
          </figure>
          <figure class="js-fadeup">
            <img src="/assets/images/top/conceptworks/img-02.webp" class="image u-h-max" data-src="１時間" alt="">
          </figure>
          <figure class="js-fadeup">
            <img src="/assets/images/top/conceptworks/img-03.webp" class="image u-h-max" data-src="２時間" alt="">
          </figure>
        </div>
        <div class="txt u-p-end js-blur">
          <div>
            <h3 class="c-title__lv03 u-text-en">concept design</h3>
            <h4 class="c-title__lv04">『陸地のサメ』</h4>
            <p>
              様々ま繁殖方法を持つサメが陸で繁殖したら・・、を考えながら制作したコンセプトアート。
            </p>  
          </div>
        </div>
      </div>
    </div>
  </div>
</section>