<%
var define = (typeof define === 'undefined') ? '' : define;
%>

<section class="l-main-panel l-main-panel-02 panel" id="panel05">
  <div class="l-main-panel__contents u-d-flex">
    <div class="c-title__section u-h-max u-d-flex u-v-lr u-text-en u-pl-5">
      <b class="secNm u-d-flex">section01</b>
      <b>conceptart</b>
    </div>
    <div class="c-contents__body top-works">
      <div class="top-works__content u-d-flex u-h-max">
        <div class="u-h-max">
          <h2 class="c-title__lv02">
            環境デザイン
            <span class="u-d-block u-d-flex u-text-en">environmental design</span>
          </h2>
          <div class="img">
            <figure>
              <img src="/assets/images/top/img-01.jpg" class="js-fadeup" alt="">
            </figure>
            <figure>
              <img src="/assets/images/top/img-01.jpg" alt="">
            </figure>
            <figure>
              <img src="/assets/images/top/img-01.jpg" alt="">
            </figure>
          </div>
          <div class="txt u-mt-2">
            <div>
              <p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
            </div>
          </div>
        </div>
        <div class="u-h-max">
          <h2 class="c-title__lv02">
            環境デザイン
            <span class="u-d-block u-d-flex u-text-en">environmental design</span>
          </h2>
          <div class="img">
            <figure>
              <img src="/assets/images/top/img-01.jpg" alt="">
            </figure>
            <figure>
              <img src="/assets/images/top/img-01.jpg" alt="">
            </figure>
            <figure>
              <img src="/assets/images/top/img-01.jpg" alt="">
            </figure>
          </div>
          <div class="txt u-mt-2">
            <div>
              <p>
                テキストが入ります。テキストが入ります。テキストが入ります。
                テキストが入ります。テキストが入ります。テキストが入ります。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>