<%
var define = (typeof define === 'undefined') ? '' : define;
%>

<section class="l-main-panel panel" id="panel04">
  <div class="l-main-panel__contents u-d-flex">
    <div class="c-title__section u-h-max u-d-flex u-v-lr u-text-en l-lg">
      <b class="secNm u-d-flex">section01</b>
      <b>conceptart</b>
    </div>
    <div class="c-contents__body top-conceptart__detail">
      <div class="top-conceptart__detail__content u-d-flex u-h-max">
        <div class="u-d-flex">
          <div class="img col2">
            <figure class="c-modal js-fadeup">
              <img src="/assets/images/top/concept/img10.webp" class="js-image u-h-max" alt="">
            </figure>
            <figure class="c-modal js-fadeup">
              <img src="/assets/images/top/concept/img11.webp" class="js-image u-h-max" alt="">
            </figure>
          </div>
          <div class="txt u-p-c js-blur">
            <div>
              <h3 class="c-title__lv03">制作プロセス<span class="u-ml-2 u-text-en">01</span></h3>
              <h4 class="c-title__lv04">『資料集め・構想を練る』</h4>
              <p>
                「深海」をテーマにイメージを広げました。他のテーマを「文明」「新種」に決め、資料集めや、気になったものはスケッチや勉強をして知見を広げました。<br>
                また、生物多様な水面近くと、無機質で暗い深海の対比を出すことを念頭に置きながら制作しています。<br>
                加えて、海のシンボル的な生物の登場も考えていました。
              </p>  
            </div>
          </div>
        </div>
        <div class="u-d-flex">
          <div class="img col3 nomal u-h-max">
            <div>
              <figure class="c-modal js-fadeup">
                <img src="/assets/images/top/concept/img12.webp" class="js-image u-h-max" alt="">
              </figure>
              <div class="txt js-blur">
                <div>
                  <h3 class="c-title__lv03">制作プロセス<span class="u-ml-2 u-text-en">02</span></h3>
                  <h4 class="c-title__lv04">『メインイラストの構図決め』</h4>
                  <p>広大で綺麗な海を表現しつつ、多様な生物が見える構図にしました。<br>また、主人公が一目でわかるように配置しました。</p>
                </div>
              </div>
            </div>
            <div>
              <figure class="c-modal js-fadeup">
                <img src="/assets/images/top/concept/img13.webp" class="js-image u-h-max" alt="">
              </figure>
              <div class="txt js-blur">
                <div>
                  <h3 class="c-title__lv03">制作プロセス<span class="u-ml-2 u-text-en">03</span></h3>
                  <h4 class="c-title__lv04">『本制作・ディテールの調査』</h4>
                  <p>
                    ラフで描いたものを崩さないように全体の雰囲気を出していきました。<br>
                    細かい部分で描き込みが難しくなれば適宜検索してディテールを詰めています。
                  </p>
                </div>
              </div>
            </div>
            <div>
              <figure class="c-modal js-fadeup">
                <img src="/assets/images/top/concept/img14.webp" class="js-image u-h-max" alt="">
              </figure>
              <div class="txt js-blur">
                <div>
                  <h3 class="c-title__lv03">制作プロセス<span class="u-ml-2 u-text-en">04</span></h3>
                  <h4 class="c-title__lv04">『描き込み・完成』</h4>
                  <p>常に全体を意識しつつ細部を詰めたり、全体調整をしています。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>