<%
var define = (typeof define === 'undefined') ? '' : define;
%>

<section class="l-main-panel l-main-panel-09 panel" id="panel09">
  <div class="l-main-panel__contents u-d-flex">
    <div class="c-title__section u-h-max u-d-flex u-v-lr u-text-en">
      <b class="secNm u-d-flex">section04</b>
      <b>sketches</b>
    </div>
    <div class="c-contents__body top-skeches">
      <div class="top-skeches__content type02 u-d-flex u-h-max">
        <div class="u-d-flex">
          <div class="txt js-blur">
            <div>
              <h3 class="c-title__lv03 u-text-en">静物着彩</h3>
              <p>テキストが入ります。テキストが入ります。テキストが入ります。</p>  
            </div>
          </div>
          <div class="img u-d-flex">
            <div>
              <figure class="js-fadeup">
                <img src="/assets/images/top/img-01.jpg" class="u-h-max" data-src="/assets/images/top/img-01.jpg" alt="">
              </figure>
              <figure class="js-fadeup">
                <img src="/assets/images/top/img-01.jpg" class="u-h-max" alt="">
              </figure>
              <figure class="js-fadeup">
                <img src="/assets/images/top/img-01.jpg" class="u-h-max" alt="">
              </figure>
            </div>
            <div>
              <figure class="js-fadeup">
                <img src="/assets/images/top/img-01.jpg" class="u-h-max" data-src="/assets/images/top/img-01.jpg" alt="">
              </figure>
              <figure class="js-fadeup">
                <img src="/assets/images/top/img-01.jpg" class="u-h-max" alt="">
              </figure>
              <figure class="js-fadeup">
                <img src="/assets/images/top/img-01.jpg" class="u-h-max" alt="">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>