<%
var define = (typeof define === 'undefined') ? '' : define;
%>

<section class="l-main-panel l-main-panel-09 panel" id="panel09">
  <div class="l-main-panel__contents u-d-flex">
    <div class="c-title__section u-h-max u-d-flex u-v-lr u-text-en l-lg">
      <b class="secNm u-d-flex">section04</b>
      <b>sketches</b>
    </div>
    <div class="c-contents__body top-skeches">
      <div class="top-skeches__content type02 u-d-flex u-h-max">
        <div class="u-d-flex">
          <div class="txt js-blur">
            <div>
              <h3 class="c-title__lv03 u-text-en">coloring</h3>
              <h4 class="c-title__lv04">『 静物着彩 』</h4>
              <p>大学受験用の静物着彩（各７ｈ）</p>  
            </div>
          </div>
          <div class="img u-d-flex">
            <div>
              <figure class="c-modal js-fadeup">
                <img src="/assets/images/top/skeches/img-07.webp" class="js-image u-h-max" data-src="7時間" alt="">
              </figure>
              <figure class="c-modal js-fadeup">
                <img src="/assets/images/top/skeches/img-08.webp" class="js-image u-h-max" data-src="7時間" alt="">
              </figure>
              <figure class="c-modal js-fadeup">
                <img src="/assets/images/top/skeches/img-09.webp" class="js-image u-h-max" data-src="7時間" alt="">
              </figure>
            </div>
            <div>
              <figure class="c-modal js-fadeup">
                <img src="/assets/images/top/skeches/img-10.webp" class="js-image u-h-max" data-src="7時間" alt="">
              </figure>
              <figure class="c-modal js-fadeup">
                <img src="/assets/images/top/skeches/img-11.webp" class="js-image u-h-max" data-src="7時間" alt="">
              </figure>
              <figure class="c-modal js-fadeup">
                <img src="/assets/images/top/skeches/img-12.webp" class="js-image u-h-max" data-src="7時間" alt="">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>