<%
var define = (typeof define === 'undefined') ? '' : define;
%>

<section class="l-main-panel l-main-panel-07 panel js-reversal" id="panel07">
  <div class="l-main-panel__contents u-d-flex">
    <div class="c-title__section u-h-max u-d-flex u-v-lr u-text-en u-pl-5">
      <b class="secNm u-d-flex">section03</b>
      <b>illustration</b>
    </div>
    <div class="c-contents__body top-works">
      <div class="top-works__content u-d-flex u-h-max">
        <div class="u-h-max">
          <h2 class="c-title__lv02">
            WEBデザイン
            <span class="u-d-block u-d-flex u-text-en">procreate/gulp/<br class="l-sm">html/css/javascript</span>
          </h2>
          <div class="img border">
            <figure>
              <img src="/assets/images/top/illust/img-01.png" class="image" alt="">
            </figure>
            <figure>
              <img src="/assets/images/top/illust/img-02.png" class="image" alt="">
            </figure>
            <figure>
              <img src="/assets/images/top/illust/img-03.png" class="image" alt="">
            </figure>
          </div>
          <div class="txt u-mt-1 js-blur">
            <div>
              <p>
                糸を扱っているクライアントのサイトリニューアルに携わった際には、糸をイメージしたイラスト制作をいたしました。
                また、アニメーションではHTML、CSSにて実際にコーディングしながら実装いたしました。
                <a href="https://www.kitahora.com/" target="_blank">サイトを見る</a>
              </p>
            </div>
          </div>
        </div>
        <div class="u-h-max">
          <h2 class="c-title__lv02">
            WEBデザイン
            <span class="u-d-block u-d-flex u-text-en">Illustrator/photoshop/<br class="l-sm">gulp/html/css</span>
          </h2>
          <div class="img">
            <figure>
              <img src="/assets/images/top/illust/img-07.jpg" class="image" alt="">
            </figure>
            <figure>
              <img src="/assets/images/top/illust/img-08.jpg" class="image" alt="">
            </figure>
            <figure>
              <img src="/assets/images/top/illust/img-09.jpg" class="image" alt="">
            </figure>
          </div>
          <div class="txt u-mt-1 js-blur">
            <div>
              <p>
                医薬・化粧品・健康食品業界に特化した機械を扱っているクライアントのサイトリニューアルでは、
                親しみを持ってもらう為にアイソメトリック技法を使用してイラスト制作をいたしました。
                <a href="https://www.planner-web.jp/" target="_blank">サイトを見る</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>