<%
var define = (typeof define === 'undefined') ? '' : define;
%>

<section class="l-main-panel l-main-panel-02 panel" id="panel02">
  <div class="l-main-panel__contents u-d-flex">
    <div class="c-title__section u-h-max u-d-flex u-v-lr u-text-en u-pl-5 js-blur">
      <b class="secNm u-d-flex">section01</b>
      <b>conceptart</b>
    </div>
    <div class="c-contents__body top-conceptart">
      <h2 class="c-title__lv02 js-blur">
        環境デザイン
        <span class="u-d-block u-d-flex u-text-en">environmental design</span>
      </h2>
      <div class="top-conceptart__content u-d-flex">
        <figure class="js-fadeup">
          <img src="/assets/images/top/concept/img01.jpg" class="image" data-src="/assets/images/top/concept/img01.jpg" alt="">
        </figure>
        <div class="txt js-blur">
          <h3 class="c-title__lv03 u-text-en">main story</h3>
          <h4 class="c-title__lv04">『新種の海』</h4>
          <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
        </div>
      </div>
    </div>
  </div>
</section>