<%
var define = (typeof define === 'undefined') ? '' : define;
%>

<section class="l-main-panel panel" id="panel03">
  <div class="l-main-panel__contents u-d-flex">
    <div class="c-title__section u-h-max u-d-flex u-v-lr u-text-en l-lg">
      <b class="secNm u-d-flex">section01</b>
      <b>conceptart</b>
    </div>
    <div class="c-contents__body top-conceptart__detail">
      <div class="top-conceptart__detail__content u-d-flex u-h-max">
        <div class="u-d-flex">
          <div class="img col3 ex">
            <figure class="js-fadeup">
              <img src="/assets/images/top/concept/img02.jpg" class="image u-h-max" data-src="8時間" alt="">
            </figure>
            <figure class="js-fadeup">
              <img src="/assets/images/top/concept/img03.jpg" class="image u-h-max" data-src="0.5時間" alt="">
            </figure>
            <figure class="js-fadeup">
              <img src="/assets/images/top/concept/img04.jpg" class="image u-h-max" data-src="5時間" alt="">
            </figure>
          </div>
          <div class="txt u-p-ct js-blur">
            <div>
              <h3 class="c-title__lv03 u-text-en">scene design</h3>
              <p>
                重要場面などのシーンイラスト。物語のキーであるアイテムを拾うシーン（上）。
                海を泳ぐシーンのラフ（中）。
                秘密が明らかになるシーン（下）。
              </p>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>