<%
var define = (typeof define === 'undefined') ? '' : define;
%>

<section class="l-main-panel l-main-panel-10 panel" id="panel10">
  <div class="l-main-panel__contents u-d-flex">
    <div class="c-title__section u-h-max u-d-flex u-v-lr u-text-en">
      <b class="secNm u-d-flex">section05</b>
      <b>freeworks</b>
    </div>
    <div class="c-contents__body top-etc">
      <div class="top-etc__content type02 u-d-flex u-h-max">
        <div class="u-d-flex">
          <div class="txt u-p-cb js-blur">
            <div>
              <h3 class="c-title__lv03 u-text-en">空いた時間イラスト</h3>
              <p>電車の中、映画を観た後、寝る前、etc…</p>
              <div class="c-btn-more u-text-en">
                <a href="" target="_blank">more</a>
              </div>
            </div>
          </div>
          <div class="img u-d-flex">
            <figure class="js-etcimg">
              <img src="/assets/images/top/etc/img-01.png" data-src="/assets/images/top/img-01.jpg" alt="">
            </figure>
            <figure class="js-etcimg02">
              <img src="/assets/images/top/etc/img-01.png" data-src="/assets/images/top/img-01.jpg" alt="">
            </figure>
            <figure class="js-etcimg">
              <img src="/assets/images/top/etc/img-01.png" data-src="/assets/images/top/img-01.jpg" alt="">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>