<%
var define = (typeof define === 'undefined') ? '' : define;
%>

<section class="l-main-panel l-main-panel-06 panel" id="panel06">
  <div class="l-main-panel__contents u-d-flex">
    <div class="c-title__section u-h-max u-d-flex u-v-lr u-text-en u-pl-5">
      <b class="secNm u-d-flex">section02</b>
      <b>conceptworks</b>
    </div>
    <div class="c-contents__body top-conceptartworks">
      <div class="top-conceptartworks__content u-d-flex u-h-max">
        <div class="img">
          <figure class="js-fadeup">
            <img src="/assets/images/top/conceptworks/img-04.png" class="image u-h-max" data-src="/assets/images/top/conceptworks/img-04.png" alt="">
          </figure>
          <figure class="js-fadeup">
            <img src="/assets/images/top/conceptworks/img-05.png" class="image u-h-max" data-src="/assets/images/top/conceptworks/img-05.png" alt="">
          </figure>
          <figure class="js-fadeup">
            <img src="/assets/images/top/conceptworks/img-06.png" class="image u-h-max" data-src="/assets/images/top/conceptworks/img-06.png" alt="">
          </figure>
        </div>
        <div class="txt u-p-end js-blur">
          <div>
            <h3 class="c-title__lv03 u-text-en">main story</h3>
            <p>テキストが入ります。テキストが入ります。テキストが入ります。</p>  
          </div>
        </div>
      </div>
    </div>
  </div>
</section>