<%
var define = (typeof define === 'undefined') ? '' : define;
%>

<section class="l-main-panel panel" id="panel04">
  <div class="l-main-panel__contents u-d-flex">
    <div class="c-title__section u-h-max u-d-flex u-v-lr u-text-en l-lg">
      <b class="secNm u-d-flex">section01</b>
      <b>conceptart</b>
    </div>
    <div class="c-contents__body top-conceptart__detail">
      <div class="top-conceptart__detail__content u-d-flex u-h-max">
        <div class="u-d-flex">
          <div class="img col2">
            <figure class="c-modal js-fadeup">
              <img src="/assets/images/top/concept/img05.jpg" class="js-image u-h-max" data-src="4時間" alt="">
            </figure>
            <figure class="c-modal js-fadeup">
              <img src="/assets/images/top/concept/img06.jpg" class="js-image u-h-max" data-src="3時間" alt="">
            </figure>
          </div>
          <div class="txt u-p-ct js-blur">
            <div>
              <h3 class="c-title__lv03 u-text-en">character design</h3>
              <p>頭部はタツノオトシゴ、体躯はウミイグアナを参考。手は知能の高さを表すために人間のような手に変更。</p>  
            </div>
          </div>
        </div>
        <div class="u-d-flex">
          <div class="img col3 nomal u-h-max">
            <div>
              <figure class="c-modal js-fadeup">
                <img src="/assets/images/top/concept/img07.jpg" class="js-image u-h-max" data-src="3時間" alt="">
              </figure>
              <div class="txt js-blur">
                <div>
                  <h3 class="c-title__lv03 u-text-en">stage design</h3>
                  <p>海の底に人工的な立方体の空間がある想定。</p>
                </div>
              </div>
            </div>
            <div>
              <figure class="c-modal js-fadeup">
                <img src="/assets/images/top/concept/img08.jpg" class="js-image u-h-max" data-src="1時間" alt="">
              </figure>
              <div class="txt js-blur">
                <div>
                  <h3 class="c-title__lv03 u-text-en">item sketch</h3>
                  <p>主人公が拾うアイテム（ライト）のデザインスケッチ</p>
                </div>
              </div>
            </div>
            <div>
              <figure class="c-modal js-fadeup">
                <img src="/assets/images/top/concept/img09.jpg" class="js-image u-h-max" data-src="0.5時間" alt="">
              </figure>
              <div class="txt js-blur">
                <div>
                  <h3 class="c-title__lv03 u-text-en">color assets</h3>
                  <p>主に使われている配色のアセット。明るい場所は青を多め、暗い箇所では緑寄りに。</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>