<%
var define = (typeof define === 'undefined') ? '' : define;
%>

<section class="l-main-panel l-main-panel-10 panel" id="panel11">
  <div class="l-main-panel__contents u-d-flex">
    <div class="c-title__section u-h-max u-d-flex u-v-lr u-text-en u-ml-2">
      <b class="secNm u-d-flex">section06</b>
      <b>profile</b>
    </div>
    <div class="c-contents__body top-profile">
      <div class="top-profile__content u-d-flex u-h-max">
        <div class="head u-p-cb">
          <div class="js-blur">
            <h3 class="c-title__lv03 u-text-en">PROFILE</h3>
            <dl>
              <dd class="born u-text-en u-mb-1">1994.09.22</dd>
              <dd class="job u-text-en">concept art / illustration / <br>coding / web design / sculpt</dd>
            </dl>
          </div>
        </div>
        <div class="body">
          <div class="js-blur">
            <h4>西川武志</h4>
            <p>
              『非現実を現実に』を常に意識して制作をしています。
              現実ではありえない構図や風景であっても、気候や生物の生態などの裏側のシステムの部分を意識し、説得力のあるイラストを目指しています。
            </p> 
          </div>
        </div>
        <div class="foot" id="js-snstrigger">
          <ul class="sns">
            <li>
              <a href="https://www.instagram.com/nishikawatakeshi3/" target="_blank">
                <img src="/assets/images/common/icon_insta.png" id="js-sns01" alt="">
              </a>
            </li>
            <li>
              <a href="https://n_takeshi.artstation.com/" target="_blank">
                <img src="/assets/images/common/icon_artstation.png" id="js-sns02" alt="">
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/@nishikawa8715" target="_blank">
                <img src="/assets/images/common/icon_movie.png" id="js-sns03" alt="">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>