<%
var define = (typeof define === 'undefined') ? '' : define;
%>

<section class="l-main-panel l-main-panel-07 panel" id="panel07_2">
  <div class="l-main-panel__contents u-d-flex">
    <div class="c-title__section u-h-max u-d-flex u-v-lr u-text-en u-pl-5">
      <b class="secNm u-d-flex">section03</b>
      <b>illustration</b>
    </div>
    <div class="c-contents__body top-works">
      <div class="top-works__content u-d-flex u-h-max">
        <div class="u-h-max">
          <h2 class="c-title__lv02">
            カードゲームイラスト
            <span class="u-d-block u-d-flex u-text-en">card design</span>
          </h2>
          <div class="img">
            <figure>
              <img src="/assets/images/top/illust/img-04.png" class="image js-fadeup" data-src="/assets/images/top/illust/img-04.png" alt="">
            </figure>
            <figure>
              <img src="/assets/images/top/illust/img-05.png" class="image js-fadeup" data-src="/assets/images/top/illust/img-05.png" alt="">
            </figure>
            <figure>
              <img src="/assets/images/top/illust/img-06.png" class="image js-fadeup" data-src="/assets/images/top/illust/img-06.png" alt="">
            </figure>
          </div>
          <div class="txt u-mt-1 js-blur">
            <div>
              <p>
                社内の研修用のカードデザインを担当しました。
                研修中での質問回数を制限をする為に、メンバー分のカードを用意し、召喚すると質問できるというルールにしました。
                一枚しかないレアカードもありましたが、僕のカードは毎日出る弱いカードでした。
              </p>
            </div>
          </div>
        </div>
        <div class="u-h-max">
          <h2 class="c-title__lv02">
            雑誌表紙イラスト
            <span class="u-d-block u-d-flex u-text-en">dtp design</span>
          </h2>
          <div class="img">
            <figure>
              <img src="/assets/images/top/img-01.jpg" class="js-fadeup" alt="">
            </figure>
            <figure>
              <img src="/assets/images/top/img-01.jpg" class="js-fadeup" alt="">
            </figure>
            <figure>
              <img src="/assets/images/top/img-01.jpg" class="js-fadeup" alt="">
            </figure>
          </div>
          <div class="txt u-mt-1 js-blur">
            <div>
              <p>
                テキストが入ります。テキストが入ります。テキストが入ります。
                テキストが入ります。テキストが入ります。テキストが入ります。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>