@charset 'utf-8';
@use 'sass:math';
@use '../fundation/variable' as *;
@use '../fundation/mixin' as *;
@use '../fundation/function' as *;

.l-header {
  background-color: ransparent;
  left: 0;
  position: fixed;
  top: 0;
  width: 5vw;
  max-width: 80px;
  height: 100vh;
  z-index: 999;
  transition: box-shadow $time $ease;
  @include media(sm) {
    width: 100%;
    height: inherit;
    max-width: inherit;
  }

  // インナー
  &__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 50px;
    @include media(sm) {
      flex-direction: inherit;
      padding: vw(10) vw(20);
    }
    .txt {
      @include fz(12, true, false, 400, 100, false);
      text-transform: uppercase;
      opacity: 0;
      transform: translateY(10px);
      transition-duration: 1s;
    }
  }

  .is-nav-active & {
    color: color(bg);
    &__inner {
      .txt {
        a {
          color: color(bg);
        }
      }
    }
  }
}

// product以下

.l-ProductHeader {
  &__inner {
    position: fixed;
    margin-inline: 64px;
    margin-top: 48px;
    z-index: 50;
    @include media(sm) {
      margin-top: vw(20);
      margin-inline: vw(20);
    }
    h1 {
      opacity: 0;
      transition: 1s;
      @include media(sm) {
        width: vw(200);
      }
    }
    a {
      transition: $time $ease;
      @include hoverOpacity(0.8);
    }
  }
}