@charset 'utf-8';
@use 'sass:math';
@use '../fundation/variable' as *;
@use '../fundation/mixin' as *;
@use '../fundation/function' as *;

.l-header {
  background-color: color(bg);
  left: 0;
  position: fixed;
  top: 0;
  width: 5vw;
  max-width: 80px;
  height: 100vh;
  z-index: 999;
  transition: box-shadow $time $ease;

  // インナー
  &__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 50px;
  }


  .is-scroll & {
    box-shadow: 0 3px 3px rgba(#000, .1);

    @include media(sm) {
      box-shadow: 0 vw(3) vw(3) rgba(#000, .1);
    }
  }
}
