@charset 'utf-8';
@use 'sass:math';
@use '../fundation/variable' as *;
@use '../fundation/mixin' as *;
@use '../fundation/function' as *;

.l-nav {
  // PC用
  &__lg {
    @include fz(14, true, 20, 500);
    ul {
      display: flex;
      align-items: center;
      list-style: none;
      li {
        &:nth-of-type(n + 2) {
          margin-left: 10px;
        }
      }
    }

    @include media(sm) {
      display: none;
    }
  }

  // 展開メニュー
  &__mega {
    background-color: #fff;
    top: $lgHeaderHeight;
    left: 0;
    opacity: 0;
    overflow-y: auto;
    position: fixed;
    transition: visibility $time $ease, opacity $time $ease;
    visibility: hidden;
    width: 100%;
    max-height: 100%;
    z-index: 999;
    nav {
      @include fz(14, true, 20, 500);
      ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;
        li {
          &:nth-of-type(n + 2) {
            margin-left: 10px;
          }
        }
      }
    }

    .is-nav-active & {
      opacity: 1;
      visibility: visible;
    }

    @include media(sm) {
    }
  }
}
