@charset 'utf-8';
@use 'sass:map';
@use './function' as *;

// レイアウト
// ----------------------------------------------------------------------
$breakPoint: 1025px;      // ブレークポイント
$lgMinWidth: 1200px;     // タブレットの縮小サイズ
$lgHeaderHeight: 40px;   // ヘッダーの高さ（LG）
$smHeaderHeight: vw(40); // ヘッダーの高さ（SM）



// フォント
// ----------------------------------------------------------------------
// $ff-jp: 'Noto Sans JP', sans-serif; // 400|500|700
$ff-jp: "dnp-shuei-gothic-gin-std", sans-serif; // 400|500|700
$ff-jp-2:"Zen Kaku Gothic New",sans-serif;
$ff-en: 'Orbitron', sans-serif;       // 400|500|700



// カラー
// ex) color: getColor(text);
// ----------------------------------------------------------------------
$propColor: (
  text: #fff,
  bg:#080808,
  link: #fff,
  border: #080808,
  selection: #080808,
  tapHighlight: rgba(#000, 0),
  productmain:#C9C9C9
);

@function color($key: 'text') {
  @return map.get($propColor, $key);
}



// アニメーション
// ----------------------------------------------------------------------
$time: 500ms;
$ease: ease;
