@charset 'utf-8';
@use 'sass:math';
@use '../fundation/variable' as *;
@use '../fundation/mixin' as *;
@use '../fundation/function' as *;

.c-btn {
  &-more {
    @include hoverOpacity(0.8);
    margin-top: 8px;
    text-transform: uppercase;
    a {
      @include fz(15, true, false, 400, 150, false);
      display: flex;
      align-items: center;
      &::before {
        content: "";
        background: #fff;
        width: 4px;
        height: 4px;
        display: inline-block;
        margin-right: 12px;
        transition: $time $ease;
      }
    }
    @include ahover {
      a {
        &::before {
          width: 20px;
        }
      }
    }
  }

  @include media(sm) {
  }
}
