@charset 'utf-8';
@use 'sass:math';
@use '../fundation/variable' as *;
@use '../fundation/mixin' as *;
@use '../fundation/function' as *;

.c-form {
  // エラー
  .is-validated {
    &:invalid,
    &.invalid {
      border: solid 1px #c00;

      & + .c-form__errormsg {
        display: block;
      }
    }
  }
  &__errormsg {
    color: #c00;
    display: none;
  }

  // 必須項目
  &__required {
    background-color: #c00;
    color: #fff;
    display: inline-block;
  }

  @include media(sm) {
  }
}

// テキストボックス
.c-input {
  /* stylelint-disable */
  // 使用する最に stylelint-disableコメント削除
  /* stylelint-enable */

  @include media(sm) {
  }
}

// テキストエリア
.c-textarea {
  /* stylelint-disable */
  // 使用する最に stylelint-disableコメント削除
  /* stylelint-enable */

  @include media(sm) {
  }
}

// セレクトボックス
.c-selectbox {
  /* stylelint-disable */
  // 使用する最に stylelint-disableコメント削除
  /* stylelint-enable */

  @include media(sm) {
  }
}

// ラジオボタン
.c-radio {
  /* stylelint-disable */
  // 使用する最に stylelint-disableコメント削除
  /* stylelint-enable */

  @include media(sm) {
  }
}

// チェックボックス
.c-checkbox {
  /* stylelint-disable */
  // 使用する最に stylelint-disableコメント削除
  /* stylelint-enable */

  @include media(sm) {
  }
}
