@charset 'utf-8';
@use 'sass:math';
@use '../fundation/variable' as *;
@use '../fundation/mixin' as *;
@use '../fundation/function' as *;

// パラメータセット（基本的にはここの数値だけでOK）
$boxColor: #080808;
$lineColor: #fff;
$lgBoxWidth: 40px;     // ボックスサイズ（LG）
$lgBoxHeight: 40px;
$lgLineWidth: 20px;    // ラインサイズ（LG）
$lgLlineHeight: 2px;
$lgLineTop: 10px;      // 上下ライン位置（LG）
$lgLineBottom: 10px;
$smBoxWidth: vw(40);   // ボックスサイズ（SM）
$smBoxHeight: vw(40);
$smLineWidth: vw(20);  // ラインサイズ（SM）
$smLineHeight: vw(2);
$smLineTop: vw(10);    // 上下ライン位置（SM）
$smLineBottom: vw(10);

.c-hamburger {
  display: inline-block;
  height: $lgBoxHeight;
  position: relative;
  width: $lgBoxWidth;
  transition-duration: .5s;
  opacity: 0;
  transform: translateY(10px);
  span {
    background-color: $lineColor;
    display: inline-block;
    height: $lgLlineHeight;
    left: calc((#{$lgBoxWidth} - #{$lgLineWidth}) / 2);
    position: absolute;
    transform-origin: center;
    transition: $time $ease;
    width: $lgLineWidth;
    &:nth-of-type(1) {
      top: $lgLineTop;
    }
    &:nth-of-type(2) {
      top: calc((#{$lgBoxHeight} - #{$lgLlineHeight}) / 2);
    }
    &:nth-of-type(3) {
      bottom: $lgLineBottom;
    }
    .is-nav-active & {
      background: $boxColor;
      &:nth-of-type(1) {
        top: calc((100% - #{$lgLlineHeight}) / 2);
        transform: rotate(-315deg);
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        bottom: calc((100% - #{$lgLlineHeight}) / 2);
        transform: rotate(315deg);
      }
    }
  }

  @include media(sm) {
    height: $smBoxHeight;
    width: $smBoxWidth;
    span {
      height: $smLineHeight;
      left: calc((#{$smBoxWidth} - #{$smLineWidth}) / 2);
      width: $smLineWidth;
      &:nth-of-type(1) {
        top: $smLineTop;
      }
      &:nth-of-type(2) {
        top: calc((#{$smBoxHeight} - #{$lgLlineHeight}) / 2);
      }
      &:nth-of-type(3) {
        bottom: $smLineBottom;
      }
      .is-nav-active & {
        &:nth-of-type(1) {
          top: calc((100% - #{$lgLlineHeight}) / 2);
        }
        &:nth-of-type(3) {
          bottom: calc((100% - #{$lgLlineHeight}) / 2);
        }
      }
    }
  }
}
