@charset 'utf-8';
@use 'sass:math';
@use '../fundation/variable' as *;
@use '../fundation/mixin' as *;
@use '../fundation/function' as *;

.c-title {
  // セクションのタイトル
  &__section {
    @include fz(24, true, false, 300, 200, false);
    padding-top: 50px;
    text-transform: uppercase;
    margin-right: 5vw;
    .secNm {
      &::after {
        content: "";
        display: block;
        width: 2px;
        height: 6vh;
        background-color: #fff;
        position: relative;
        right: -5px;
        margin-inline: 10px;
      }
    }
  }

  &__lv02 {
    margin-bottom: 32px;
    @include fz(26, true, false, 400, 100, false);
    span {
      position: relative;
      margin-top: 6px;
      padding-left: 20px;
      text-transform: uppercase;
      @include fz(12, true, false, 400, 100, false);
      &::before {
        content: "";
        display: block;
        width: 10px;
        height: 2px;
        background: #fff;
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
      }
    }
  }

  &__lv03 {
    text-transform: uppercase;
    margin-bottom: 16px;
    @include fz(20, true, false, 400, 200, false);
    &::after {
      content: "";
      width: 30px;
      height: 1px;
      background: #fff;
      display: block;
      margin-top: 12px;
    }
  }
  &__lv04 {
    margin-bottom: 8px;
    @include fz(16, true, false, 400, 150, false);
  }

  @include media(sm) {
  }
}
