@charset 'utf-8';
@use 'sass:math';
@use '../fundation/variable' as *;
@use '../fundation/mixin' as *;
@use '../fundation/function' as *;

.c-title {
  &__section {
    .secNm {
      &::after {
        content: "";
        display: block;
        width: 1px;
        height: 10vh;
        background-color: #fff;
        position: relative;
        right: -5px;
        margin-inline: 10px;
      }
    }
  }

  &__lv02 {
    margin-bottom: 30px;
    span {
      position: relative;
      padding-left: 20px;
      text-transform: uppercase;
      &::before {
        content: "";
        display: block;
        width: 10px;
        height: 2px;
        background: #fff;
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
      }
    }
  }

  &__lv03 {
    text-transform: uppercase;
    margin-bottom: 20px;
    &::after {
      content: "";
      width: 20px;
      height: 1px;
      background: #fff;
      display: block;
      margin-top: 10px;
    }
  }

  @include media(sm) {
  }
}
