<!DOCTYPE html>
<html lang="ja">
<head prefix="og:http://ogp.me/ns#">
  <meta charset="utf-8">

  <!-- SEO -->
  <title>Product / Nishikawa Takeshi</title>
  <meta name="description" content="西川武志のポートフォリオサイトです。">
  <meta name="author" content="nishikawa">
  <link rel="shortcut icon" type="image/svg+xml" href="/assets/images/favicon.svg">
  <link rel="shortcut icon" sizes="32x32" href="/assets/images/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/touch180.png">
  <link rel="canonical" href="">

  <!-- Settings -->
  <meta name="viewport" content="width=device-width, viewport-fit=cover">
  <meta name="theme-color" content="#080808">

  <!-- SNS -->
  <meta property="og:site_name" content="西川武志のポートフォリオサイトです。">
  <meta property="og:title" content="prooduct">
  <meta property="og:description" content="西川武志のポートフォリオサイトです。">
  <meta property="og:image" content="/assets/images/ogpimg.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <!-- Preload -->
  <link rel="preload" as="style" href="/assets/css/style.css?rev">
  <link rel="preload" as="script" href="/assets/js/bundle.js?rev">

  <!-- CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css?rev">

</head>

<body id="gotop" class="product">
    <div class="l-body">
    <header class="l-ProductHeader">
			<div class="l-ProductHeader__inner">
				<h1 id="js-mvfade05">
					<a href="/">
							<img src="/assets/images/product/common/logo.svg" alt="">
					</a>
				</h1>
			</div>
    </header>
    <div class="l-wrapper">
			<div class="l-content">
				<!-- main -->
				<main class="product01">
					<div class="product__mv">
						<ul class="sns">
							<li>
								<a href="https://www.instagram.com/nishikawatakeshi3/" id="js-mvfade02" target="_blank">
									<img src="/assets/images/common/icon_insta.png" alt="">
								</a>
							</li>
							<li>
								<a href="https://n_takeshi.artstation.com/" id="js-mvfade03" target="_blank">
									<img src="/assets/images/common/icon_artstation.png" alt="">
								</a>
							</li>
							<li>
								<a href="https://www.youtube.com/@nishikawa8715" id="js-mvfade04" target="_blank">
									<img src="/assets/images/common/icon_movie.png" alt="">
								</a>
							</li>
						</ul>
						<figure class="product__mv--titlelogo" id="js-mvfade01">
							<img src="/assets/images/product/01/title.svg" alt="">
						</figure>
					</div>

					<section class="l-section product__story pall_sec">
						<div class="l-section-wrapper">
							<div class="c-product-title-primary center js-fadeIn">
								<h2 data-h2="story">story</h2>
							</div>
							<div class="txt js-fadeIn">
								<p>テキストが入ります。</p>
								<p>テキストが入ります。テキストが入ります。</p>
								<p>テキストが入ります。テキストが入ります。</p>
								<p>テキストが入ります。テキストが入ります。</p>
								<p>テキストが入ります。テキストが入ります。</p>
								<p>テキストが入ります。テキストが入ります。</p>
								<p>勇者か、愚者か</p>
								<p>あるいは</p>
							</div>
						</div>
					</section>
					<section class="l-section product__scene pall_sec">
						<div class="l-section-wrapper">
							<div class="l-section-inner">
								<div class="c-product-title-primary js-fadeIn">
									<h2 data-h2="scene">scene</h2>
								</div>
								<div class="txt js-fadeIn">
									<p>テキストが入ります。</p>
									<p>テキストが入ります。テキストが入ります。</p>
									<p>テキストが入ります。テキストが入ります。</p>
									<p>テキストが入ります。テキストが入ります。</p>
									<p>テキストが入ります。テキストが入ります。</p>
									<p>テキストが入ります。テキストが入ります。</p>
								</div>
								<div class="c-modal-btn js-fadeIn js-image" data-url="/assets/images/product/01/sec04_bg.jpg">
									<span>watch image</span>
								</div>
							</div>
						</div>
					</section>
					<section class="l-section product__scene pall_sec">
						<div class="l-section-wrapper">
							<div class="l-section-inner">
								<div class="c-product-title-primary js-fadeIn">
									<h2 data-h2="scene">scene</h2>
								</div>
								<div class="txt js-fadeIn">
									<p>テキストが入ります。</p>
									<p>テキストが入ります。テキストが入ります。</p>
									<p>テキストが入ります。テキストが入ります。</p>
									<p>テキストが入ります。テキストが入ります。</p>
									<p>テキストが入ります。テキストが入ります。</p>
									<p>テキストが入ります。テキストが入ります。</p>
								</div>
								<div class="c-modal-btn js-fadeIn js-image" data-url="/assets/images/product/01/sec04_bg.jpg">
									<span>watch image</span>
								</div>
							</div>
						</div>
					</section>
					<section class="l-section product__scene pall_sec">
						<div class="l-section-wrapper">
							<div class="l-section-inner">
								<div class="c-product-title-primary js-fadeIn">
									<h2 data-h2="charactor">charactor</h2>
								</div>
								<div class="txt js-fadeIn">
									<p>テキストが入ります。</p>
									<p>テキストが入ります。テキストが入ります。</p>
									<p>テキストが入ります。テキストが入ります。</p>
									<p>テキストが入ります。テキストが入ります。</p>
									<p>テキストが入ります。テキストが入ります。</p>
									<p>テキストが入ります。テキストが入ります。</p>
								</div>
								<div class="c-modal-btn js-fadeIn js-image" data-url="/assets/images/product/01/sec04_bg.jpg">
									<span>watch image</span>
								</div>
							</div>
						</div>
					</section>
					<section class="l-section product__movie pall_sec" data-opa="60">
						<div class="l-section-wrapper">
							<div class="c-product-title-primary center js-fadeIn">
								<h2 data-h2="movie">movie</h2>
							</div>
							<div class="movie js-fadeIn">
								<iframe src="https://www.youtube.com/embed/ksT1AnnGF9M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
							</div>
						</div>
					</section>

					<section class="l-section product__sketch" data-opa="85">
						<div class="l-section-wrapper">
							<div class="c-product-title-primary js-fadeIn">
								<h2 data-h2="sketch">sketch</h2>
							</div>
							<ul>
								<li class="js-fadeIn">
									<img src="/assets/images/product/01/sec02_bg.jpg" class="js-image" alt="">
								</li>
								<li class="js-fadeIn">
									<img src="/assets/images/product/01/sec02_bg.jpg" class="js-image" alt="">
								</li>
								<li class="js-fadeIn">
									<img src="/assets/images/product/01/sec02_bg.jpg" class="js-image" alt="">
								</li>
								<li class="js-fadeIn">
									<img src="/assets/images/product/01/sec02_bg.jpg" class="js-image" alt="">
								</li>
							</ul>
						</div>
					</section>

					<section class="l-section product__logodesign" data-opa="0">
						<div class="l-section-wrapper">
							<div class="c-product-title-primary js-fadeIn">
								<h2 data-h2="LOGO design">LOGO design</h2>
							</div>
							<figure class="u-ta-center js-fadeIn">
								<img src="/assets/images/product/01/title.svg" alt="">
							</figure>
							<div class="txt js-fadeIn">
								<h3 class="c-product-title-secondary">『不完全な複製』</h3>
								<p>
									テキストが入ります。テキストが入ります。テキストが入ります。
									テキストが入ります。テキストが入ります。テキストが入ります。
									テキストが入ります。テキストが入ります。テキストが入ります。
								</p>
							</div>
						</div>
					</section>
					<div class="modal-wrapper">
						<figure>
						  <img src="/assets/images/ogpimg.png" alt="" class="modal-image">
						  <figcaption id="modal-txt"></figcaption>
						</figure>
					  </div>
				</main>
			</div>
    </div>
		<footer class="l-ProductFooter">
			<div class="l-ProductFooter-wrapper">
				<dl class="js-fadeIn">
					<dt>portfolio URL</dt>
					<dd class="u-mb-1">
						<a href="http://tnishikawa.html.xdomain.jp/" target="_blank">
							http://tnishikawa.html.xdomain.jp/
						</a>
					</dd>
					<dd>
						<a href="https://otter254.github.io/port" target="_blank">
							https://otter254.github.io/port
						</a>
					</dd>
				</dl>
				<ul class="sns">
					<li>
						<a href="https://www.instagram.com/nishikawatakeshi3/" target="_blank">
							<img src="/assets/images/product/common/icon_insta.png" alt="">
						</a>
					</li>
					<li>
						<a href="https://n_takeshi.artstation.com/" target="_blank">
							<img src="/assets/images/product/common/icon_artstation.png" alt="">
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/@nishikawa8715" target="_blank">
							<img src="/assets/images/product/common/icon_movie.png" alt="">
						</a>
					</li>
				</ul>
			</div>
		</footer>
    </div>

    <script src="/assets/js/bundle.js?rev" defer="defer"></script>
</body>
</html>